<div class="left-side-menu">
    <div class="panel-group" id="accordion">
    <h6>Sports</h6>
             </div>		
    </div>


<div class="main_container" id="sticky">
    <div class="right_col" role="main">			
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="title_new_at"> Online Users</div>
<div class="clearfix data-background">
<form method="get" id="target" class="form-horizontal button-online">
    <a routerLink="/adminonline" class="item blue_button"> Admin</a>		
    <a routerLink="/supermasteron" class="item blue_button"> Super Master</a>
    <a routerLink="/masteron" class="item blue_button"> Master</a>	
    <a routerLink="/useron" class="item blue_button"> User</a>
</form>
</div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">              
<div id="divLoading"> </div><!--Loading class -->  
<div class="table-scroll clearfix data-background">					
<table class="table table-striped jambo_table bulk_action dataTable no-footer" id="datatable">
<thead>
  <tr class="headings">
    <th class="">#</th>
    <th class="">User ID </th>
    <th class="">Login Time </th>
    <th class="">IP Address </th>							 
  </tr>
</thead>
<tbody>
     
    
    <tr><th colspan="6">No record found</th></tr>	

 </tbody>
</table>


<p> </p>  <p class="pagination-row dataTables_paginate paging_simple_numbers"> </p>
</div>
</div>
</div>
</div>