<div class="left-side-menu">
    <div class="panel-group" id="accordion">
    <h6>Sports</h6>
             </div>		
    </div>

    <div class="main_container" id="sticky">
        <div class="right_col" role="main">
<div class="row">
        <div class="col-md-12">
                    <div class="title_new_at">Change Password</div>
                     
                   
                     
                    
              </div>
              <div style="background-image: url('/assets/images/cp.jpg');"></div>
                <div class="col-md-12">
                    
                
                  

                    
          </div>
        

          <div class="col-md-12 col-sm-12 col-xs-12">
          
              <div id="divLoading"> </div><!--Loading class -->
              

               
                
                
                <form action="/dashboard/change_password_action" class="form-horizontal form-label-left" method="post" accept-charset="utf-8"><input type="hidden" name="compute" value="be1d346a0892b6f4f6ac413f6e958534">
<input type="hidden" name="compute" value="be1d346a0892b6f4f6ac413f6e958534" style="display:none;">
                      <input type="hidden" name="id" value="1">
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstname">Old Password <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="password" name="old_password" value="" class="form-control col-md-7 col-xs-12" placeholder="Old Password" label="" required="required">
                     
                    </div>
                  </div>
                  
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstname">New Password <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="password" name="newpassword" value="" class="form-control col-md-7 col-xs-12" placeholder="New Password" label="" required="required">
                     
                    </div>
                  </div>
                  
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstname">Retype New Password <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="password" name="Renewpassword" value="" class="form-control col-md-7 col-xs-12" placeholder="Retype Password" label="" required="required">
                     
                    </div>
                  </div>
                  

                  
                 
                  
                                  
                  
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                         <button type="reset" class="btn btn-primary">Reset</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                    
                    </div>
                  </div>
                </form>
                    
                

           
           
           
              
          </div>
        </div>


      
    </div>          