 <!--footerlinks-->
 <footer style="display:-moz-popup">
    <ul class="menu-links">
       <li class="item"> <a> <img src="/assets/images/inplay.png"><span>Inplay</span></a></li>
       <li class="item"><a href="javascript:;" class="UserChipData" data-toggle="modal" data-target="#addUser" data-backdrop="static" data-keyboard="false">
          <img src="/assets/images/edit-stake.png"><span>Edit stake</span></a></li>
       <li class="item"><a href="/dashboard" class="site_title endcooki active">
         <img src="/assets/images/home.png"></a></li>
       <li class="item"><a href="/bethistory">
         <img src="/assets/images/history.png"><span>Bet History</span></a></li>
       <li class="item"><a href="/logout">
         <img src="/assets/images/logout.png"><span>Logout</span></a></li>
    </ul>
  </footer>
  
  <!--footerlinks-->
  <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/assets/js/bootbox.min.js"></script>
  <script src="/assets/js/pnotify.js"></script>
  <script src="/assets/js/menu.js"></script>
  <script src="/assets/js/custom.js?ver=1.2"></script>
  
  <!--commanpopup-->
  <div id="commonpopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="popup_form">
             <div class="title_popup">
                <span>Title Popup</span>
                <button type="button" class="close" data-dismiss="modal">
                   <div class="close_new"><i class="fa fa-times-circle"></i></div>
                </button>
             </div>
             <div class="content_popup">
                <div class="popup_form_row">
                   <div class="modal-body"></div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>
 
  
  
              