<div class="left-side-menu">
    <div class="panel-group" id="accordion">
    <h6>Sports</h6>
             </div>		
    </div>


<div class="main_container" id="sticky">
    <div class="right_col" role="main" style="min-height: 790px;">

       



    <div class="row">
    
    
        <div class="col-md-12">
                <div class="title_new_at">  Account Info</div>
                 
                   
          </div>
     <div class="col-md-12">
                                           </div>

    

      <div class="col-md-12 col-sm-12 col-xs-12">
         
          <div id="divLoading"> </div><!--Loading class -->
          
            <div class="table-scroll">
                
                
              <table class="table table-striped jambo_table bulk_action" id=" ">
                <thead>
                  <tr class="headings">
                     
                    <th class="">Chips </th>
                 
                    <th class="">Free Chips </th>
                    <th class="">Liability </th>
                    <th class="">Wallet </th>
                    <th class="">Up </th>
                    <th class="">Down </th>
                     
                     
                  </tr>
                </thead>
                
             

                <tbody>
                                                <tr> 	
                                                                    <td class="green">15,631,838.83 </td>
                                                          
                        <td class=" ">600,000,000.00 </td>
                        <td class=" ">0.00 </td>
                        <td class=" ">599,193,303.67 </td>
                        
                        <td class=" ">0 </td>
                        <td class=" ">14,298,645.00 </td>
                         
                         
                        
                    </tr>
                    
                     
                    
                        

                 </tbody>
              </table>
             
             
             
            </div>
       
       
       
        
      </div>
    </div>


 
</div>
<script>

</script>
    