<div class="left-side-menu">
  <div class="panel-group" id="accordion">
  <h6>Sports</h6>
           </div>		
  </div>
  

<div class="main_container" id="sticky">
  

<div class="right_col" role="main" style="min-height: 733px;">
  <div class="row">
<div class="col-md-12">
  <div class="title_new_at"> Fancy Listing			
   <button class="btn btn-xs btn-primary" onclick="goBack()" style="float:right;">Back</button>
   </div>     
</div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="divLoading"> </div><!--Loading class -->
         <div class="tabel_content ">
  <table class="table table-striped jambo_table bulk_action" id="">
     <thead>
  <tr class="headings">
      <th>S.No. </th>
    <th>MATCH NAME</th>
      <th>MARKET NAME </th>
        <th>MARKET ID</th>                  
    <th>Action</th>
                </tr>
              </thead>
              <tbody>
              
    
    
    

               </tbody>
            </table>            
           
           
           </div>
         </div>
       </div>

</div>
