<div class="left-side-menu">
    <div class="panel-group" id="accordion">
    <h6>Sports</h6>
             </div>		
    </div>

<div class="main_container" id="sticky">
    <div class="right_col" role="main" style="min-height: 2574px;">
<div class="col-md-12">
<div class="title_new_at">Set Match General Setting</div>
</div>
<div class="col-md-12">
 </div>
<div class="col-md-12 col-sm-12 col-xs-12">
<div id="divLoading" style="text-align: center;"> </div>
<!--Loading class -->
<div class="filter_page">
              
 <div class="sub_heading_tabel">Soccer</div>
 <div class="content_bg">
    <form id="1_setting" method="post"><input type="hidden" name="compute" value="14cb383963e8a27b1bc358f074fe5a9f">
       <div class="block_2">
          <input type="hidden" name="sport[sport_id]" value="1">
          <label> MIN STAKE</label>
          <input type="text" name="sport[min_stake_limit]" class="form-control" id="1_min_stake" value="1000">
          <span id="1_min_stakeN" class="errmsg"></span>
       </div>
       <div class="block_2">
          <label> Max STAKE </label>
          <input type="text" name="sport[stakelimit]" class="form-control" id="1_max_stake" value="10000">
          <span id="1_max_stakeN" class="errmsg"></span>								 
       </div>
       <div class="block_2">
          <label> MAX PROFIT </label>
          <input type="text" name="sport[profitLimit]" class="form-control" id="1_max_profit" value="25000">
          <span id="1_max_profitN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> Max Loss </label>
          <input type="text" name="sport[lossLimit]" class="form-control" id="1_max_loss" value="25000">
          <span id="1_max_lossN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> BET DELAY</label>
          <input type="text" name="sport[bet_delay]" class="form-control" id="1_bet_delay" value="7">
          <span id="1_bet_delayN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> VOLUME LIMIT</label>
          <input type="text" name="sport[volumeLimit]" class="form-control" id="1_volume_limit" value="150.00">
          <span id="volume_limitN" class="errmsg"></span>                       
       </div>
                                     <div class="block_2">
          <label> PRE INPLAY PROFIT</label>
          <input type="text" name="sport[goinginprofitLimit]" class="form-control" id="1_pre_innplay_profit" value="1">
          <span id="1_pre_innplay_profitN" class="errmsg"></span>								 
       </div>
       <div class="block_2">
          <label> PRE INPLAY STAKE</label>
          <input type="text" name="sport[goinginstake]" class="form-control" id="1_pre_inplay_stake" value="1">
          <span id="pre_inplay_stakeN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> MIN ODDS</label>
          <input type="text" name="sport[min_odds]" class="form-control" id="1_min_odds" value="1.01">
          <span id="1_min_oddsN" class="errmsg"></span>								 
       </div>
       <div class="block_2">
          <label> MAX ODDS</label>
          <input type="text" name="sport[max_odds]" class="form-control" id="1_max_odds" value="3.00">
          <span id="1_max_oddsN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> Range Total Matched</label>
          <input type="text" name="sport[range_totalmatched]" class="form-control" id="1_range_totalmatched" value="2000">
          <span id="1_range_totalmatchedN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label>  Total Matched Profit</label>
          <input type="text" name="sport[totalmatched_profit]" class="form-control" id="1_totalmatched_profit" value="25000">
          <span id="1_totalmatched_profitN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label>  Total Matched Stake</label>
          <input type="text" name="sport[totalmatched_stake]" class="form-control" id="1_totalmatched_stake" value="1000">
          <span id="1_totalmatched_stakeN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label> Manual Stake</label>
          <input type="text" name="sport[manual_stake]" class="form-control" id="1_manual_stake" value="500000">
          <span id="1_manual_stakeN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label> Manual Profit</label>
          <input type="text" name="sport[manual_profit]" class="form-control" id="1_manual_profit" value="1000000">
          <span id="1_manual_profitN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label> Manual Delay</label>
          <input type="text" name="sport[manual_delay]" class="form-control" id="1_manual_delay" value="0">
          <span id="1_manual_delayN" class="errmsg"></span>                        
       </div>
                                                    <div class="block_1">
          <label>UNMATCH BET</label>
          <input type="checkbox" name="sport[is_unmatchbet]" value="1"> <br>
          <span id="1_is_unmatch_betN" class="errmsg"></span>			 							 
       </div>
                      <div class="block_1">
          <label>30 Minutes Check</label>
          <input type="checkbox" name="sport[goinginplay_bet]" value="1" checked=""> <br>
          <span id="1_goinginplay_betN" class="errmsg"></span>			 							 
       </div>
                                        <div class="clearfix"></div>
         <span style="color:red">0 for not applicable</span>
          <div class="block_1">
            <label>Odds diff range(2 below)</label>
            <input type="text" name="sport[check_diff_val]" value="0" id="check_diff_val1">
            check to change for current match
            <input type="checkbox" onchange="settForexistEntry(1,'check_diff_val')"> 
            <span id="1_check_diff_valN" class="errmsg"></span>                             
          </div>
          <div class="block_1">
            <label>Odds diff range(2-5)</label>
            <input type="text" name="sport[check_diff_val1]" value="0" id="check_diff_val11">
            check to change for current match
            <input type="checkbox" onchange="settForexistEntry(1,'check_diff_val1')"> 
            <span id="1_check_diff_val1N" class="errmsg"></span>                             
          </div>
          <div class="block_1">
            <label>Odds diff range(5 above)</label>
            <input type="text" name="sport[check_diff_val2]" value="0" id="check_diff_val21">
            check to change for current match
            <input type="checkbox" onchange="settForexistEntry(1,'check_diff_val2')"> 
            <span id="1_check_diff_val2N" class="errmsg"></span>                             
          </div>
         
         <div class="clearfix"></div>
    
    
                   <div class="popup_col_12">
                     <button type="button" class="blue_button" id="update-12-setting" (click)="openModal(template)">
                        Update
                    </button>  
       </div>
    </form>
 </div>
     
 <div class="sub_heading_tabel">Tennis</div>
 <div class="content_bg">
    <form id="2_setting" method="post"><input type="hidden" name="compute" value="14cb383963e8a27b1bc358f074fe5a9f">
       <div class="block_2">
          <input type="hidden" name="sport[sport_id]" value="2">
          <label> MIN STAKE</label>
          <input type="text" name="sport[min_stake_limit]" class="form-control" id="2_min_stake" value="1000">
          <span id="2_min_stakeN" class="errmsg"></span>
       </div>
       <div class="block_2">
          <label> Max STAKE </label>
          <input type="text" name="sport[stakelimit]" class="form-control" id="2_max_stake" value="10000">
          <span id="2_max_stakeN" class="errmsg"></span>								 
       </div>
       <div class="block_2">
          <label> MAX PROFIT </label>
          <input type="text" name="sport[profitLimit]" class="form-control" id="2_max_profit" value="25000">
          <span id="2_max_profitN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> Max Loss </label>
          <input type="text" name="sport[lossLimit]" class="form-control" id="2_max_loss" value="25000">
          <span id="2_max_lossN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> BET DELAY</label>
          <input type="text" name="sport[bet_delay]" class="form-control" id="2_bet_delay" value="7">
          <span id="2_bet_delayN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> VOLUME LIMIT</label>
          <input type="text" name="sport[volumeLimit]" class="form-control" id="2_volume_limit" value="150.00">
          <span id="volume_limitN" class="errmsg"></span>                       
       </div>
                                     <div class="block_2">
          <label> PRE INPLAY PROFIT</label>
          <input type="text" name="sport[goinginprofitLimit]" class="form-control" id="2_pre_innplay_profit" value="1">
          <span id="2_pre_innplay_profitN" class="errmsg"></span>								 
       </div>
       <div class="block_2">
          <label> PRE INPLAY STAKE</label>
          <input type="text" name="sport[goinginstake]" class="form-control" id="2_pre_inplay_stake" value="1">
          <span id="pre_inplay_stakeN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> MIN ODDS</label>
          <input type="text" name="sport[min_odds]" class="form-control" id="2_min_odds" value="1.01">
          <span id="2_min_oddsN" class="errmsg"></span>								 
       </div>
       <div class="block_2">
          <label> MAX ODDS</label>
          <input type="text" name="sport[max_odds]" class="form-control" id="2_max_odds" value="3.00">
          <span id="2_max_oddsN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> Range Total Matched</label>
          <input type="text" name="sport[range_totalmatched]" class="form-control" id="2_range_totalmatched" value="500">
          <span id="2_range_totalmatchedN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label>  Total Matched Profit</label>
          <input type="text" name="sport[totalmatched_profit]" class="form-control" id="2_totalmatched_profit" value="10000">
          <span id="2_totalmatched_profitN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label>  Total Matched Stake</label>
          <input type="text" name="sport[totalmatched_stake]" class="form-control" id="2_totalmatched_stake" value="500">
          <span id="2_totalmatched_stakeN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label> Manual Stake</label>
          <input type="text" name="sport[manual_stake]" class="form-control" id="2_manual_stake" value="500000">
          <span id="2_manual_stakeN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label> Manual Profit</label>
          <input type="text" name="sport[manual_profit]" class="form-control" id="2_manual_profit" value="1000000">
          <span id="2_manual_profitN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label> Manual Delay</label>
          <input type="text" name="sport[manual_delay]" class="form-control" id="2_manual_delay" value="0">
          <span id="2_manual_delayN" class="errmsg"></span>                        
       </div>
                                                    <div class="block_1">
          <label>UNMATCH BET</label>
          <input type="checkbox" name="sport[is_unmatchbet]" value="1"> <br>
          <span id="2_is_unmatch_betN" class="errmsg"></span>			 							 
       </div>
                      <div class="block_1">
          <label>30 Minutes Check</label>
          <input type="checkbox" name="sport[goinginplay_bet]" value="1" checked=""> <br>
          <span id="2_goinginplay_betN" class="errmsg"></span>			 							 
       </div>
                                        <div class="clearfix"></div>
         <span style="color:red">0 for not applicable</span>
          <div class="block_1">
            <label>Odds diff range(2 below)</label>
            <input type="text" name="sport[check_diff_val]" value="0" id="check_diff_val2">
            check to change for current match
            <input type="checkbox" onchange="settForexistEntry(2,'check_diff_val')"> 
            <span id="2_check_diff_valN" class="errmsg"></span>                             
          </div>
          <div class="block_1">
            <label>Odds diff range(2-5)</label>
            <input type="text" name="sport[check_diff_val1]" value="0" id="check_diff_val12">
            check to change for current match
            <input type="checkbox" onchange="settForexistEntry(2,'check_diff_val1')"> 
            <span id="2_check_diff_val1N" class="errmsg"></span>                             
          </div>
          <div class="block_1">
            <label>Odds diff range(5 above)</label>
            <input type="text" name="sport[check_diff_val2]" value="0" id="check_diff_val22">
            check to change for current match
            <input type="checkbox" onchange="settForexistEntry(2,'check_diff_val2')"> 
            <span id="2_check_diff_val2N" class="errmsg"></span>                             
          </div>
         
         <div class="clearfix"></div>
    
    
                   <div class="popup_col_12">
                     <button type="button" class="blue_button" id="update-12-setting" (click)="openModal(template)">
                        Update
                    </button> 
       </div>
    </form>
 </div>
     
 <div class="sub_heading_tabel">Cricket</div>
 <div class="content_bg">
    <form id="4_setting" method="post"><input type="hidden" name="compute" value="14cb383963e8a27b1bc358f074fe5a9f">
       <div class="block_2">
          <input type="hidden" name="sport[sport_id]" value="4">
          <label> MIN STAKE</label>
          <input type="text" name="sport[min_stake_limit]" class="form-control" id="4_min_stake" value="500">
          <span id="4_min_stakeN" class="errmsg"></span>
       </div>
       <div class="block_2">
          <label> Max STAKE </label>
          <input type="text" name="sport[stakelimit]" class="form-control" id="4_max_stake" value="200000">
          <span id="4_max_stakeN" class="errmsg"></span>								 
       </div>
       <div class="block_2">
          <label> MAX PROFIT </label>
          <input type="text" name="sport[profitLimit]" class="form-control" id="4_max_profit" value="500000">
          <span id="4_max_profitN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> Max Loss </label>
          <input type="text" name="sport[lossLimit]" class="form-control" id="4_max_loss" value="500000">
          <span id="4_max_lossN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> BET DELAY</label>
          <input type="text" name="sport[bet_delay]" class="form-control" id="4_bet_delay" value="5">
          <span id="4_bet_delayN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> VOLUME LIMIT</label>
          <input type="text" name="sport[volumeLimit]" class="form-control" id="4_volume_limit" value="200.00">
          <span id="volume_limitN" class="errmsg"></span>                       
       </div>
                                     <div class="block_2">
          <label> PRE INPLAY PROFIT</label>
          <input type="text" name="sport[goinginprofitLimit]" class="form-control" id="4_pre_innplay_profit" value="2">
          <span id="4_pre_innplay_profitN" class="errmsg"></span>								 
       </div>
       <div class="block_2">
          <label> PRE INPLAY STAKE</label>
          <input type="text" name="sport[goinginstake]" class="form-control" id="4_pre_inplay_stake" value="1">
          <span id="pre_inplay_stakeN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> MIN ODDS</label>
          <input type="text" name="sport[min_odds]" class="form-control" id="4_min_odds" value="1.01">
          <span id="4_min_oddsN" class="errmsg"></span>								 
       </div>
       <div class="block_2">
          <label> MAX ODDS</label>
          <input type="text" name="sport[max_odds]" class="form-control" id="4_max_odds" value="5.00">
          <span id="4_max_oddsN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> Range Total Matched</label>
          <input type="text" name="sport[range_totalmatched]" class="form-control" id="4_range_totalmatched" value="3000">
          <span id="4_range_totalmatchedN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label>  Total Matched Profit</label>
          <input type="text" name="sport[totalmatched_profit]" class="form-control" id="4_totalmatched_profit" value="3000">
          <span id="4_totalmatched_profitN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label>  Total Matched Stake</label>
          <input type="text" name="sport[totalmatched_stake]" class="form-control" id="4_totalmatched_stake" value="3000">
          <span id="4_totalmatched_stakeN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label> Manual Stake</label>
          <input type="text" name="sport[manual_stake]" class="form-control" id="4_manual_stake" value="500000">
          <span id="4_manual_stakeN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label> Manual Profit</label>
          <input type="text" name="sport[manual_profit]" class="form-control" id="4_manual_profit" value="1000000">
          <span id="4_manual_profitN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label> Manual Delay</label>
          <input type="text" name="sport[manual_delay]" class="form-control" id="4_manual_delay" value="2">
          <span id="4_manual_delayN" class="errmsg"></span>                        
       </div>
                                                    <div class="block_1">
          <label>UNMATCH BET</label>
          <input type="checkbox" name="sport[is_unmatchbet]" value="1"> <br>
          <span id="4_is_unmatch_betN" class="errmsg"></span>			 							 
       </div>
                      <div class="block_1">
          <label>30 Minutes Check</label>
          <input type="checkbox" name="sport[goinginplay_bet]" value="1" checked=""> <br>
          <span id="4_goinginplay_betN" class="errmsg"></span>			 							 
       </div>
                                        <div class="clearfix"></div>
         <span style="color:red">0 for not applicable</span>
          <div class="block_1">
            <label>Odds diff range(2 below)</label>
            <input type="text" name="sport[check_diff_val]" value="0" id="check_diff_val4">
            check to change for current match
            <input type="checkbox" onchange="settForexistEntry(4,'check_diff_val')"> 
            <span id="4_check_diff_valN" class="errmsg"></span>                             
          </div>
          <div class="block_1">
            <label>Odds diff range(2-5)</label>
            <input type="text" name="sport[check_diff_val1]" value="0" id="check_diff_val14">
            check to change for current match
            <input type="checkbox" onchange="settForexistEntry(4,'check_diff_val1')"> 
            <span id="4_check_diff_val1N" class="errmsg"></span>                             
          </div>
          <div class="block_1">
            <label>Odds diff range(5 above)</label>
            <input type="text" name="sport[check_diff_val2]" value="0" id="check_diff_val24">
            check to change for current match
            <input type="checkbox" onchange="settForexistEntry(4,'check_diff_val2')"> 
            <span id="4_check_diff_val2N" class="errmsg"></span>                             
          </div>
         
         <div class="clearfix"></div>
    
    
                   <div class="popup_col_12">
                     <button type="button" class="blue_button" id="update-12-setting" (click)="openModal(template)">
                        Update
                    </button> 
       </div>
    </form>
 </div>
     
 <div class="sub_heading_tabel">Horse Racing</div>
 <div class="content_bg">
    <form id="7_setting" method="post"><input type="hidden" name="compute" value="14cb383963e8a27b1bc358f074fe5a9f">
       <div class="block_2">
          <input type="hidden" name="sport[sport_id]" value="7">
          <label> MIN STAKE</label>
          <input type="text" name="sport[min_stake_limit]" class="form-control" id="7_min_stake" value="1000">
          <span id="7_min_stakeN" class="errmsg"></span>
       </div>
       <div class="block_2">
          <label> Max STAKE </label>
          <input type="text" name="sport[stakelimit]" class="form-control" id="7_max_stake" value="25000">
          <span id="7_max_stakeN" class="errmsg"></span>								 
       </div>
       <div class="block_2">
          <label> MAX PROFIT </label>
          <input type="text" name="sport[profitLimit]" class="form-control" id="7_max_profit" value="200000">
          <span id="7_max_profitN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> Max Loss </label>
          <input type="text" name="sport[lossLimit]" class="form-control" id="7_max_loss" value="200000">
          <span id="7_max_lossN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> BET DELAY</label>
          <input type="text" name="sport[bet_delay]" class="form-control" id="7_bet_delay" value="5">
          <span id="7_bet_delayN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> VOLUME LIMIT</label>
          <input type="text" name="sport[volumeLimit]" class="form-control" id="7_volume_limit" value="200.00">
          <span id="volume_limitN" class="errmsg"></span>                       
       </div>
                                     <div class="block_2">
          <label> PRE INPLAY PROFIT</label>
          <input type="text" name="sport[goinginprofitLimit]" class="form-control" id="7_pre_innplay_profit" value="2">
          <span id="7_pre_innplay_profitN" class="errmsg"></span>								 
       </div>
       <div class="block_2">
          <label> PRE INPLAY STAKE</label>
          <input type="text" name="sport[goinginstake]" class="form-control" id="7_pre_inplay_stake" value="2">
          <span id="pre_inplay_stakeN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> MIN ODDS</label>
          <input type="text" name="sport[min_odds]" class="form-control" id="7_min_odds" value="1.01">
          <span id="7_min_oddsN" class="errmsg"></span>								 
       </div>
       <div class="block_2">
          <label> MAX ODDS</label>
          <input type="text" name="sport[max_odds]" class="form-control" id="7_max_odds" value="10.00">
          <span id="7_max_oddsN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> Range Total Matched</label>
          <input type="text" name="sport[range_totalmatched]" class="form-control" id="7_range_totalmatched" value="3000">
          <span id="7_range_totalmatchedN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label>  Total Matched Profit</label>
          <input type="text" name="sport[totalmatched_profit]" class="form-control" id="7_totalmatched_profit" value="3000">
          <span id="7_totalmatched_profitN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label>  Total Matched Stake</label>
          <input type="text" name="sport[totalmatched_stake]" class="form-control" id="7_totalmatched_stake" value="3000">
          <span id="7_totalmatched_stakeN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label> Manual Stake</label>
          <input type="text" name="sport[manual_stake]" class="form-control" id="7_manual_stake" value="25000">
          <span id="7_manual_stakeN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label> Manual Profit</label>
          <input type="text" name="sport[manual_profit]" class="form-control" id="7_manual_profit" value="200000">
          <span id="7_manual_profitN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label> Manual Delay</label>
          <input type="text" name="sport[manual_delay]" class="form-control" id="7_manual_delay" value="5">
          <span id="7_manual_delayN" class="errmsg"></span>                        
       </div>
                                                    <div class="block_1">
          <label>UNMATCH BET</label>
          <input type="checkbox" name="sport[is_unmatchbet]" value="1"> <br>
          <span id="7_is_unmatch_betN" class="errmsg"></span>			 							 
       </div>
                      <div class="block_1">
          <label>30 Minutes Check</label>
          <input type="checkbox" name="sport[goinginplay_bet]" value="1" checked=""> <br>
          <span id="7_goinginplay_betN" class="errmsg"></span>			 							 
       </div>
                                        <div class="clearfix"></div>
         <span style="color:red">0 for not applicable</span>
          <div class="block_1">
            <label>Odds diff range(2 below)</label>
            <input type="text" name="sport[check_diff_val]" value="0" id="check_diff_val7">
            check to change for current match
            <input type="checkbox" onchange="settForexistEntry(7,'check_diff_val')"> 
            <span id="7_check_diff_valN" class="errmsg"></span>                             
          </div>
          <div class="block_1">
            <label>Odds diff range(2-5)</label>
            <input type="text" name="sport[check_diff_val1]" value="0" id="check_diff_val17">
            check to change for current match
            <input type="checkbox" onchange="settForexistEntry(7,'check_diff_val1')"> 
            <span id="7_check_diff_val1N" class="errmsg"></span>                             
          </div>
          <div class="block_1">
            <label>Odds diff range(5 above)</label>
            <input type="text" name="sport[check_diff_val2]" value="0" id="check_diff_val27">
            check to change for current match
            <input type="checkbox" onchange="settForexistEntry(7,'check_diff_val2')"> 
            <span id="7_check_diff_val2N" class="errmsg"></span>                             
          </div>
         
         <div class="clearfix"></div>
    
    
                   <div class="popup_col_12">
                     <button type="button" class="blue_button" id="update-12-setting" (click)="openModal(template)">
                        Update
                    </button> 
       </div>
    </form>
 </div>
     
 <div class="sub_heading_tabel">Fancy</div>
 <div class="content_bg">
    <form id="10_setting" method="post"><input type="hidden" name="compute" value="14cb383963e8a27b1bc358f074fe5a9f">
       <div class="block_2">
          <input type="hidden" name="sport[sport_id]" value="10">
          <label> MIN STAKE</label>
          <input type="text" name="sport[min_stake_limit]" class="form-control" id="10_min_stake" value="500">
          <span id="10_min_stakeN" class="errmsg"></span>
       </div>
       <div class="block_2">
          <label> Max STAKE </label>
          <input type="text" name="sport[stakelimit]" class="form-control" id="10_max_stake" value="100000">
          <span id="10_max_stakeN" class="errmsg"></span>								 
       </div>
       <div class="block_2">
          <label> MAX PROFIT </label>
          <input type="text" name="sport[profitLimit]" class="form-control" id="10_max_profit" value="300000">
          <span id="10_max_profitN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> BET DELAY</label>
          <input type="text" name="sport[bet_delay]" class="form-control" id="10_bet_delay" value="3">
          <span id="10_bet_delayN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> VOLUME LIMIT</label>
          <input type="text" name="sport[volumeLimit]" class="form-control" id="10_volume_limit" value="1.00">
          <span id="volume_limitN" class="errmsg"></span>                       
       </div>
                                     <div class="block_2">
          <label> MIN ODDS</label>
          <input type="text" name="sport[min_odds]" class="form-control" id="10_min_odds" value="1.01">
          <span id="10_min_oddsN" class="errmsg"></span>								 
       </div>
       <div class="block_2">
          <label> MAX ODDS</label>
          <input type="text" name="sport[max_odds]" class="form-control" id="10_max_odds" value="3.00">
          <span id="10_max_oddsN" class="errmsg"></span>								 
       </div>
                      <div class="block_2">
          <label> Range Total Matched</label>
          <input type="text" name="sport[range_totalmatched]" class="form-control" id="10_range_totalmatched" value="0">
          <span id="10_range_totalmatchedN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label>  Total Matched Profit</label>
          <input type="text" name="sport[totalmatched_profit]" class="form-control" id="10_totalmatched_profit" value="0">
          <span id="10_totalmatched_profitN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label>  Total Matched Stake</label>
          <input type="text" name="sport[totalmatched_stake]" class="form-control" id="10_totalmatched_stake" value="0">
          <span id="10_totalmatched_stakeN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label> Manual Stake</label>
          <input type="text" name="sport[manual_stake]" class="form-control" id="10_manual_stake" value="500000">
          <span id="10_manual_stakeN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label> Manual Profit</label>
          <input type="text" name="sport[manual_profit]" class="form-control" id="10_manual_profit" value="1000000">
          <span id="10_manual_profitN" class="errmsg"></span>                        
       </div>
       <div class="block_2">
          <label> Manual Delay</label>
          <input type="text" name="sport[manual_delay]" class="form-control" id="10_manual_delay" value="0">
          <span id="10_manual_delayN" class="errmsg"></span>                        
       </div>
                                                    <div class="popup_col_12">
                                                      <button type="button" class="blue_button" id="update-12-setting" (click)="openModal(template)">
                                                         Update
                                                     </button>  
       </div>
    </form>
 </div>
       </div>
</div>
</div>            
<!--commanpopup-->
<div id="commonpopup" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
 <div class="popup_form">
    <div class="title_popup">
       <span>Title Popup</span>
       <button type="button" class="close" data-dismiss="modal">
          <div class="close_new"><i class="fa fa-times-circle"></i></div>
       </button>
    </div>
    <div class="content_popup">
       <div class="popup_form_row">
          <div class="modal-body"></div>
       </div>
    </div>
 </div>
</div>
</div>
</div>
<!--commanpopup-->         </div>



<ng-template #template>
   <div class="modal-header">
     <h4 class="modal-title pull-left">newlotusbook.com says</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     change save successfully
   </div>
 </ng-template>