<div class="left-side-menu">
    <div class="panel-group" id="accordion">
    <h6>Sports</h6>
             </div>		
    </div>



 
     <div class="main_container" id="sticky">
            <div class="right_col" role="main" style="min-height: 790px;">
<div class="row">
<div class="col-md-12">
<div class="title_new_at">Block sport </div> 	   
</div>


<div class="col-md-12 col-sm-12 col-xs-12">

<div class="tabel_content">
<div class="table-responsive sports-tabel" id="contentreplace">
    <table class="table tabelcolor tabelborder">
        <thead>
            <tr>
                <th scope="col">So.</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th> 
                                    <th>Profit Limit(Per day)</th>
                <th>Loss Limit(Per day)</th>
                <th>Stake Limit(Per day)</th>
                                </tr>
        </thead>
        <tbody>	
                            
            <tr>
                <td scope="row">1</td>
                <td><a href="http://newlotusbook.com/Adminmaster/match_list_block/1">Soccer</a></td>
                <td>
                
                 <label class="toggle-label">
                 <input type="checkbox" onclick="blockMarket(1, '1', '0', '0', '0', '0', '1');" checked="">
                     
                </label>
                                    </td>
                                    <td><input type="number" name="sport_pnl_update" data-id="1" data-field="profitLimit" value="8"></td>
                <td><input type="number" name="sport_pnl_update" data-id="1" data-field="lossLimit" value="0"></td>
                <td><input type="number" name="sport_pnl_update" data-id="1" data-field="stakeLimit" value="0"></td>
                                </tr>
                            
            <tr>
                <td scope="row">2</td>
                <td><a href="http://newlotusbook.com/Adminmaster/match_list_block/2">Tennis</a></td>
                <td>
                
                 <label class="toggle-label">
                 <input type="checkbox" onclick="blockMarket(2, '1', '0', '0', '0', '0', '1');" checked="">
                     
                </label>
                                    </td>
                                    <td><input type="number" name="sport_pnl_update" data-id="2" data-field="profitLimit" value="0"></td>
                <td><input type="number" name="sport_pnl_update" data-id="2" data-field="lossLimit" value="0"></td>
                <td><input type="number" name="sport_pnl_update" data-id="2" data-field="stakeLimit" value="0"></td>
                                </tr>
                            
            <tr>
                <td scope="row">3</td>
                <td><a href="http://newlotusbook.com/Adminmaster/match_list_block/4">Cricket</a></td>
                <td>
                
                 <label class="toggle-label">
                 <input type="checkbox" onclick="blockMarket(4, '1', '0', '0', '0', '0', '1');" checked="">
                     
                </label>
                                    </td>
                                    <td><input type="number" name="sport_pnl_update" data-id="4" data-field="profitLimit" value="0"></td>
                <td><input type="number" name="sport_pnl_update" data-id="4" data-field="lossLimit" value="0"></td>
                <td><input type="number" name="sport_pnl_update" data-id="4" data-field="stakeLimit" value="0"></td>
                                </tr>
                            
            <tr>
                <td scope="row">4</td>
                <td><a href="http://newlotusbook.com/Adminmaster/match_list_block/7">Horse Racing</a></td>
                <td>
                
                 <label class="toggle-label">
                 <input type="checkbox" onclick="blockMarket(7, '1', '0', '0', '0', '0', '1');" checked="">
                     
                </label>
                                    </td>
                                    <td><input type="number" name="sport_pnl_update" data-id="7" data-field="profitLimit" value="0"></td>
                <td><input type="number" name="sport_pnl_update" data-id="7" data-field="lossLimit" value="0"></td>
                <td><input type="number" name="sport_pnl_update" data-id="7" data-field="stakeLimit" value="0"></td>
                                </tr>
                            
            <tr>
                <td scope="row">5</td>
                <td><a href="http://newlotusbook.com/Adminmaster/match_list_block/9">Teenpatti</a></td>
                <td>
                
                 <label class="toggle-label">
                 <input type="checkbox" onclick="blockMarket(9, '1', '0', '0', '0', '0', '1');" checked="">
                     
                </label>
                                    </td>
                                    <td><input type="number" name="sport_pnl_update" data-id="9" data-field="profitLimit" value="0"></td>
                <td><input type="number" name="sport_pnl_update" data-id="9" data-field="lossLimit" value="0"></td>
                <td><input type="number" name="sport_pnl_update" data-id="9" data-field="stakeLimit" value="0"></td>
                                </tr>
                            
            <tr>
                <td scope="row">6</td>
                <td><a href="http://newlotusbook.com/Adminmaster/match_list_block/11">Live teenpatti</a></td>
                <td>
                
                 <label class="toggle-label">
                 <input type="checkbox" onclick="blockMarket(11, '1', '0', '0', '0', '0', '1');" checked="">
                     
                </label>
                                    </td>
                                    <td><input type="number" name="sport_pnl_update" data-id="11" data-field="profitLimit" value="250000"></td>
                <td><input type="number" name="sport_pnl_update" data-id="11" data-field="lossLimit" value="0"></td>
                <td><input type="number" name="sport_pnl_update" data-id="11" data-field="stakeLimit" value="0"></td>
                                </tr>
                            
            <tr>
                <td scope="row">7</td>
                <td><a href="http://newlotusbook.com/Adminmaster/match_list_block/12">Roulette</a></td>
                <td>
                
                 <label class="toggle-label">
                 <input type="checkbox" onclick="blockMarket(12, '1', '0', '0', '0', '0', '1');" checked="">
                     
                </label>
                                    </td>
                                    <td><input type="number" name="sport_pnl_update" data-id="12" data-field="profitLimit" value="0"></td>
                <td><input type="number" name="sport_pnl_update" data-id="12" data-field="lossLimit" value="0"></td>
                <td><input type="number" name="sport_pnl_update" data-id="12" data-field="stakeLimit" value="0"></td>
                                </tr>
                            
            <tr>
                <td scope="row">8</td>
                <td><a href="http://newlotusbook.com/Adminmaster/match_list_block/13">Livegame</a></td>
                <td>
                
                 <label class="toggle-label">
                 <input type="checkbox" onclick="blockMarket(13, '1', '0', '0', '0', '0', '1');" checked="">
                     
                </label>
                                    </td>
                                    <td><input type="number" name="sport_pnl_update" data-id="13" data-field="profitLimit" value="500000"></td>
                <td><input type="number" name="sport_pnl_update" data-id="13" data-field="lossLimit" value="500000"></td>
                <td><input type="number" name="sport_pnl_update" data-id="13" data-field="stakeLimit" value="0"></td>
                                </tr>
            
            
                      
        </tbody>		
    </table>	     
</div>

</div>
</div>
</div>
</div>

