.bg-color2 .betslip-head a, .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background: #053331;
}
.tab_bets .nav-pills>li>a{
    background-color: #053331;
}
.title_new_at {
    width: 100%;
    display: inline-block;
    background: #2b2f35;
    padding: 5px;
    color: #fff;
}
.usersech input, select {
    padding: 2px 5px;
    border: solid 1px #eee;
    color: #000;
    height: 28px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, select {
    text-transform: none;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-12 {
    width: 100%;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
   
    float: left;
}
.table-scroll {
    overflow: scroll;
}
.match-lists {
    display: flex;
    border: solid 1px #053331;
    background-color: #053331;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}