
<div class="left-side-menu">
  <div class="panel-group" id="accordion">
  <h6>Sports</h6>
           </div>		
  </div>
<div class="main_container" id="sticky">
    <div class="right_col" role="main" style="min-height: 790px;">
<div class="row">
                              <div class="col-md-4 m-b-30 div-figure">
       <a href="/Teenpatti/teenpatti2020">
          <img class="img-fluid" src="assets/images/teenpatti.jpg">
            <div class="details-overlay small"><span class="game-name">20-20 Teenpatti </span></div>
            <p class="play-button small"> <span class="small-button playnow" data-gamecode="abclassicstraight"> Play Now </span> </p>
        </a>
      </div>
       
       
      <div class="col-md-4 m-b-30 div-figure">
      <a href="/Teenpatti/teenpattioneday">
          <img class="img-fluid" src="assets/images/teenpatti.jpg">
        <div class="details-overlay small"><span class="game-name">One Day Teenpatti </span></div>
        <p class="play-button small"> <span class="small-button playnow" data-gamecode="abclassicstraight"> Play Now </span> </p>
        </a>
      </div>
      
            

</div>
</div>           