
<div class="left-side-menu">
    <div class="panel-group" id="accordion">
    <h6>Sports</h6>
             </div>		
    </div>

<div class="main_container" id="sticky">
    <div class="right_col" role="main" style="min-height: 790px;">			
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="title_new_at"> Online Users</div>
<div class="clearfix data-background">
<form method="get" id="target" class="form-horizontal button-online">
    <a routerLink="/adminonline" class="item blue_button"> Admin</a>		
    <a routerLink="/supermasteron" class="item blue_button"> Super Master</a>
    <a routerLink="/masteron" class="item blue_button"> Master</a>			
    <a routerLink="/useron" class="item blue_button"> User</a>
</form>
</div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">              
<div id="divLoading"> </div><!--Loading class -->  
<div class="table-scroll clearfix data-background">					
<div id="datatable_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="datatable_length"><label>Show <select name="datatable_length" aria-controls="datatable" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="datatable_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="datatable"></label></div><table class="table table-striped jambo_table bulk_action dataTable no-footer" id="datatable" role="grid" aria-describedby="datatable_info">
<thead>
  <tr class="headings" role="row"><th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 95px;">#</th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="User ID : activate to sort column ascending" style="width: 239px;">User ID </th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Login Time : activate to sort column ascending" style="width: 380px;">Login Time </th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="IP Address : activate to sort column ascending" style="width: 344px;">IP Address </th></tr>
</thead>
<tbody>
                    
    
     
    
        

 <tr role="row" class="odd">
        <td class="green sorting_1">1 </td>
        <td class=" ">admin </td>
        <td class=" ">09:05:46 AM </td>
        <td class=" ">103.19.198.2 </td>
        
     </tr></tbody>
</table><div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Showing 1 to 1 of 1 entries</div><div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate"><a class="paginate_button previous disabled" aria-controls="datatable" data-dt-idx="0" tabindex="0" id="datatable_previous">Previous</a><span><a class="paginate_button current" aria-controls="datatable" data-dt-idx="1" tabindex="0">1</a></span><a class="paginate_button next disabled" aria-controls="datatable" data-dt-idx="2" tabindex="0" id="datatable_next">Next</a></div></div>


<p> </p>  <p class="pagination-row dataTables_paginate paging_simple_numbers"> </p>
</div>
</div>
</div>
</div>