.page-body {
    background: rgb(53, 53, 53);
    padding: 10px 10px 24px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-lg-8 {
  width: 66.66666667%;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
  float: right;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 100px;
}
.col-lg-12 {
  width: 100%;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
  float: left;
}
element.style {
  height: 161px;
}
.databox.databox-vertical.databox-xlg.databox-halved .databox-top {
  height: 100px;
}

.text-align-center {
  text-align: center !important;
}
.no-padding {
  padding: 0 !important;
}

.col-lg-12 {
  width: 100%;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
  float: left;
}
.carbon {
  color: rgb(2, 2, 2) !important;
  font-size: xx-large;
  font-weight: bold;
}

h3 {
  font-size: 22px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300 !important;
  font-family: "Open Sans", "Segoe UI";
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.databox.databox-vertical.databox-xlg.databox-halved .databox-top {
  height: 100px;
}
.text-align-left {
  text-align: left !important;
}
.padding-5 {
  padding: 5px !important;
}


.col-lg-6 {
  width: 50%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
  float: left;
}
.databox .databox-text {
  display: block;
  font-size: 11px;
  margin: 4px 0 2px;
  position: relative;
}

.no-padding {
  padding: 0 !important;
}
.bg-white {
  background-color: #fff !important;
}
element.style {
  height: 63px;
}
.col-lg-12 {
  width: 100%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.databox .databox-row {
  width: 100%;
  margin: 0;
  position: relative;
}
.databox .databox-cell.cell-8 {
  width: 66.66%;
}
.databox .databox-cell {
  height: 100%;
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
.text-align-center {
  text-align: center !important;
}

.databox .databox-text {
  display: block;
  font-size: 11px;
  margin: 4px 0 2px;
  position: relative;
}
.jRunners {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.col-xs-12 {
  width: 100%;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 7px;
}

.databox.databox-vertical.databox-xlg.databox-halved .databox-top {
  height: 46px;
}
.databox .databox-row.row-12 {
  height: 100%;
  padding-top: 10px;
}
.databox .databox-row {
  width: 100%;
  margin: 0;
  position: relative;
}
b, strong {
  font-weight: 700;
}

.databox .databox-number {
  display: block;
  font-size: 15px;
  line-height: 26px;
  margin: 2px;
  position: relative;
  font-family: "Roboto", "Lucida Sans", "trebuchet MS", Arial, Helvetica;
}

.no-margin {
  margin: 0 !important;
}
.lightcarbon {
  color: #555 !important;
}
.databox .databox-cell.cell-4 {
  width: 33.33%;
}
.databox .databox-cell.bordered-right {
  border-right: 1px solid #fff;
}
.databox .databox-number {
  display: block;
  font-size: 15px;
  line-height: 26px;
  margin: 2px;
  position: relative;
  font-family: "Roboto", "Lucida Sans", "trebuchet MS", Arial, Helvetica;
}
.databox .databox-cell.cell-4 {
  width: 33.33%;
}
.red {
    color: #df5138 !important;
}
.red {
    color: #df5138 !important;
}
.dashboard-box .box-header {
    background-color: #fff;
    padding: 20px;
    position: relative;
}
.col-xs-6 {
    width: 50%;
}

.dashboard-box .box-header .betdelay {
    position: absolute;
    top: -8px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
    padding: 5px 10px;
    border-top: 3px solid #2dc3e8;
    color: #0f6ba0;
    font-size: 11px;
    font-weight: bold;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
}
.marketview {
    width: 100%;
}
table {
    background-color: transparent;
}
th {
    padding: 5px 10px 5px 8px;
    font-weight: bold;
}
.rules-heading {
    border-bottom: 2px solid #2797e6;
    vertical-align: bottom;
    text-align: center;
}
.back-color {
    color: #2797e6;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.lay-rules-heading {
    border-bottom: 2px solid #f994a9;
    vertical-align: bottom;
    text-align: center;
}

.lay-color {
    color: #f994a9;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.widget {
    padding: 0;
    box-shadow: none;
    margin: 0 0 30px 0;
}
.widget.flat .widget-body, .widget.flat .widget-header {
    box-shadow: none;
}
.widget-header {
    position: relative;
    min-height: 35px;
    background: #fff;
    box-shadow: 0 0 4px rgb(0 0 0 / 30%);
    color: #555;
    padding-left: 12px;
    text-align: right;
}
.widget-header > .widget-caption {
    line-height: 34px;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
    font-weight: 400 !important;
    font-size: 13px;
}

.fa-rotate-right:before, .fa-repeat:before {
    content: "\f01e";
}
.widget-buttons > [data-toggle=dispose] {
    color: #777;
    font-size: 14px;
}
.widget-buttons > a {
    font-size: 14px;
    margin: 0 1px;
    display: inline-block;
    padding: 0;
    line-height: 24px;
    min-width: 20px;
    text-align: center;
}

.widget-buttons > [data-toggle] > .fa {
    margin-right: 0;
}

.widget-buttons > a i {
    vertical-align: middle;
}
.danger {
    color: #d73d32 !important;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.grid-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 8px;
}

.grid-wrapper .player-section, .grid-wrapper .backlay-section {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.grid-wrapper div {
    height: 40px;
    border-bottom: 1px solid #e1e1e1;
}

.grid-wrapper div {
    height: 40px;
    border-bottom: 1px solid #e1e1e1;
}
.player-section > div, .backlay-section > div {
    flex: 1;
}
.players {
    /* flex-grow: 1 !important; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 12px;
    padding-right: 5px;
}
.players .players-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: 2px;
    justify-content: center;
}

.grid-wrapper div {
    height: 40px;
    border-bottom: 1px solid #e1e1e1;
}

.players .players-postion {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    justify-content: center;
    align-items: flex-end;
}
.grid-wrapper div {
    height: 40px;
    border-bottom: 1px solid #e1e1e1;
}
.players span.position {
    font-size: 12px;
    color: forestgreen;
    font-style: oblique;
}

.icn-ladder {
    background-position: -1296px -768px;
}
.icn {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 1904px 1952px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
}
.dashboard-box .box-header .inplay {
    position: absolute;
    top: -8px;
    right: 70px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
    padding: 5px 10px;
    border-top: 3px solid #2dc3e8;
    color: #999;
    font-size: 12px;
}
.hidden-lg {
    display: none!important;

}
.btn-danger, .btn-danger:focus {
    background-color: #d73d32 !important;
    border-color: #d73d32;
    color: #fff;
}
.btn-sm {
    font-size: 12px;
    padding: 4px 9px;
    line-height: 1.39;
}
.runner-name, .runner-name span {
    font-size: 12px;
}
.graph {
    width: 14px;
    float: left;
}
a {
    color: #b73345;
    text-decoration: none;
}
a {
    background-color: transparent;

}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.runner-cloth-info {
    width: 50px;
    float: left;
}

img[_ngcontent-gcu-c57] {
    vertical-align: middle;
    border-style: none;
}

.runner-cloth-info img {
    float: right;
    padding-top: 6px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.runner-wrapper span {
    display: block;
    text-align: center;
}

.runner-name, .runner-name span {
    font-size: 12px;
}
.runner-wrapper span {
    display: block;
    text-align: center;
}
.runner-name, .runner-name span {
    font-size: 12px;
}
.runner-named {
    float: left;
}
.runner-named span {
    text-align: left;
    padding: 0px 0px 0px 5px;
}
.runner-named span {
    text-align: left;
    padding: 0px 0px 0px 5px;
}
.runner-named span {
    text-align: left;
    padding: 0px 0px 0px 5px;
}
.pull-right {
    float: right!important;
}

.pull-right {
    float: right;
}
.actualPnl {
    margin-right: 5px;
}

.actualPnl {
    color: darkgreen;

}
.marketview tbody tr td {
    padding-bottom: 0.1em;
    padding-left: 0.1em;
}
td, th {
    padding: 0;
}
.marketview button {
    width: 100%;
    min-width: 60px;
    height: 38px;
    margin: 0;
    text-align: center;
    color: #273a47;
    border: 1px solid #c4d4e1;
    background: none;
    filter: none;
    display: inline-block;
    padding: 0px;
}



.marketview button span {
    display: block;
}

.odds {
    font-weight: bold;
    color: #273a47;
    font-family: Tahoma, sans-serif;
    font-size: 11px;
}

.marketview button span {
    display: block;
}

.ammount {
    color: #273a47;
    font-family: Tahoma, sans-serif;
    font-size: 11px;
}
.marketview tbody tr td {
    padding-bottom: 0.1em;
    padding-left: 0.1em;
}

.marketview button {
    width: 100%;
    min-width: 60px;
    height: 38px;
    margin: 0;
    text-align: center;
    color: #273a47;
    border: 1px solid #c4d4e1;
    background: none;
    filter: none;
    display: inline-block;
    padding: 0px;
}


.runner-name, .runner-name span {
    font-size: 12px;
}

.runner-name {
    width: 55%;
    height: 34px;
    border-bottom: 0;
    border-top: 1px #e0e6e6 solid;
}
td, th {
    padding: 0;
}
.runner-name, .runner-name span {
    font-size: 12px;
}
.graph {
    width: 14px;
    float: left;
}

a {
    background-color: transparent;
}
.runner-cloth-info {
    width: 50px;
    float: left;
}
img[_ngcontent-gcu-c57] {
    vertical-align: middle;
    border-style: none;
}

.runner-cloth-info img {
    float: right;
    padding-top: 6px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.runner-named {
    float: left;
}
.runner-named span {
    text-align: left;
    padding: 0px 0px 0px 5px;
}
.runner-named span {
    text-align: left;
    padding: 0px 0px 0px 5px;
}
hr {
    border-top: 1px solid #e5e5e5;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.widget {
    padding: 0;
    box-shadow: none;
    margin: 0 0 30px 0;
}
.widget-header > .widget-caption {
    line-height: 34px;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
    font-weight: 400 !important;
    font-size: 13px;
}


.widget-buttons > [data-toggle=dispose] {
    color: #777;
    font-size: 14px;
}
.widget-buttons > a {
    font-size: 14px;
    margin: 0 1px;
    display: inline-block;
    padding: 0;
    line-height: 24px;
    min-width: 20px;
    text-align: center;
}

a {
    background-color: transparent;
}

.widget-buttons > [data-toggle] > .fa {
    margin-right: 0;
}
.widget-buttons > a i {
    vertical-align: middle;
}
.danger {
    color: #d73d32 !important;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.col-lg-4 {
    width: 33.33333333%;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
}
.widget {
    padding: 0;
    box-shadow: none;
    margin: 0 0 30px 0;
}
.widget-header {
    position: relative;
    min-height: 35px;
    background: #fff;
    box-shadow: 0 0 4px rgb(0 0 0 / 30%);
    color: #555;
    padding-left: 12px;
    text-align: right;
}
.widget.collapsed .widget-body {
    display: none;
}

.widget-body {
    background-color: #fbfbfb;
    box-shadow: 1px 0 10px 1px rgb(0 0 0 / 30%);
    padding: 12px;
}

.widget-header .widget-icon {
    display: block;
    width: 30px;
    height: 32px;
    position: relative;
    float: left;
    font-size: 111%;
    line-height: 32px;
    text-align: center;
    margin-left: -10px;
}

.widget-buttons > [data-toggle=collapse] {
    color: #777;
    font-size: 14px;
}

.widget-buttons > [data-toggle] > .fa {
    margin-right: 0;
}

.widget-buttons > a i {
    vertical-align: middle;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.widget.collapsed .widget-body {
    display: none;
}

.widget-body {
    background-color: #fbfbfb;
    box-shadow: 1px 0 10px 1px rgb(0 0 0 / 30%);
    padding: 12px;
}
.widget {
    padding: 0;
    box-shadow: none;
    margin: 0 0 30px 0;
}
.widget-header.bordered-bottom {
    border-bottom: 3px solid #fff;
}
.widget-header {
    position: relative;
    min-height: 35px;
    background: #fff;
    box-shadow: 0 0 4px rgb(0 0 0 / 30%);
    color: #555;
    padding-left: 12px;
    text-align: right;
}
.bordered-sky {
    border-color: #1d1d1d !important;
}
.widget-header > .widget-caption {
    line-height: 34px;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
    font-weight: 400 !important;
    font-size: 13px;
}
.widget-buttons {
    display: inline-block;
    padding: 0 5px;
    line-height: 34px;
    position: relative;
    text-align: left;
    height: 36px;
}




.widget-body {
    background-color: #fbfbfb;
    box-shadow: 1px 0 10px 1px rgb(0 0 0 / 30%);
    padding: 12px;
}

.nav-tabs.tabs-flat {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}

.nav-tabs.nav-justified {
    margin-bottom: -2px;
}
.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
}

.nav-tabs.nav-justified>li {
    float: none;
}
.nav-tabs > li {
    margin-bottom: -2px;
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border: 0;
    border-top: 2px solid #2dc3e8;
    background-color: #fbfbfb;
}
.nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
}

.nav-tabs.nav-justified>li {
    float: none;
}
.nav-tabs > li {
    margin-bottom: -2px;
}
.nav-tabs.nav-justified > li > a {
    border: none;
    margin-top: -2px;
}

.tab-content>.active {
    display: block;
}
.btn-blue, .btn-blue:focus {
    background-color: #5db2ff !important;
    border-color: #5db2ff;
    color: #fff;
}
.btn-xs {
    font-size: 11px;
    padding: 2px 7px;
}
.btn-xs > .fa, .btn-xs > .typcn, .btn-xs > .glyphicon, .btn-xs > [class*=wi-] {
    font-size: 12px;
    margin-right: 2px;
}
.bg-whitesmoke {
    background-color: #f5f5f5 !important;
}
.hide {
    display: none!important;
}
element.style {
    vertical-align: middle;
    height: 20px;
    line-height: 0;
}
.pull-left {
    float: left!important;
}

input[type=checkbox].checkbox-slider + .text {
    margin: 0 4px;
    min-height: 24px;
}
.betslip-wrapper thead tr {
    background-color: #e0e6e6;
}
.betslip-wrapper th:first-child {
    text-align: left;
    padding: 0px 0px 0px 5px;
}
.widget {
    padding: 0;
    box-shadow: none;
    margin: 0 0 30px 0;
}
.widget-header.bordered-bottom {
    border-bottom: 3px solid #fff;
}
.widget-header {
    position: relative;
    min-height: 35px;
    background: #fff;
    box-shadow: 0 0 4px rgb(0 0 0 / 30%);
    color: #555;
    padding-left: 12px;
    text-align: right;
}

.bordered-sky {
    border-color: #303030 !important;
}
.widget-header > .widget-caption {
    line-height: 34px;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
    font-weight: 400 !important;
    font-size: 13px;
}
.widget-buttons {
    display: inline-block;
    padding: 0 5px;
    line-height: 34px;
    position: relative;
    text-align: left;
    height: 36px;
}
img{
    vertical-align: middle;
    border-style: none;
}


a {
    background-color: transparent;
}

.widget-buttons > [data-toggle] > .fa {
    margin-right: 0;
}
.widget-buttons > a i {
    vertical-align: middle;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.widget-body {
    background-color: #fbfbfb;
    box-shadow: 1px 0 10px 1px rgb(0 0 0 / 30%);
    padding: 12px;

}
.mybet-wrapper {
    font-size: 11px;
    line-height: 16px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.modal-dialog {
    width: 600px;
    margin: 30px auto;
}
.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    box-shadow: 0 0 40px rgb(0 0 0 / 50%);
    color: #000;
    background-color: #fff;
    border: rgba(0, 0, 0, 0);
}
.modal-header {
    padding: 10px 15px 10px 20px;
    background-color: #f5f5f5;
}
.close {
    height: 25px;
    overflow: hidden;
}
.modal-header .close {
    font-size: 26px;
}
.modal-content .close {
    font-size: 26px;
}
.modal-header .close {
    margin-top: -2px;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

h4 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300 !important;
    font-family: "Open Sans", "Segoe UI";
}
.modal-body {
    position: relative;
    padding: 15px;
}
.blink_me {
    animation: blinker 3s linear infinite;
    color: green;
    font-weight: bold;
}
.market-rules {
    position: absolute;
    top: -8px;
    right: 10px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
    padding: 5px 10px;
    border-top: 3px solid #2dc3e8;
    color: #999;
    font-size: 12px;
    font-weight: bold;
}
a {
    color: #ff0000;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.dashboard-box {
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    margin-bottom: 30px;
    padding: 5px;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.marketview button span {
    display: block;
}

.odds {
    font-weight: bold;
    color: #273a47;
    font-family: Tahoma, sans-serif;
    font-size: 11px;

}
.marketview button span {
    display: block;
}
.ammount {
    color: #273a47;
    font-family: Tahoma, sans-serif;
    font-size: 11px;
}
.fa-arrow-circle-down:before {
    content: "\f0ab";
}
.lay {
    background-color: #f994ba !important;
}
.back {
    background-color: #72bbef !important;
}

.text-align-center {
    text-align: center !important;
}
.no-padding {
    padding: 0 !important;
}

.col-lg-12 {
    width: 100%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
}
.col-lg-12 {
    width: 100%;
}
.marketview tbody tr td {
    padding-bottom: 0.1em;
    padding-left: 0.1em;
}
.runner-name, .runner-name span {
    font-size: 12px;
}

td, th {
    padding: 0;
}
.runner-named span {
    text-align: left;
    padding: 0px 0px 0px 5px;
}

.runner-wrapper span {
    display: block;
    text-align: center;
}
.runner-name, .runner-name span {
    font-size: 12px;
}
.widget-buttons label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    line-height: 6px;
}
input[type=checkbox].checkbox-slider + .text:before {
    font-family: "Open Sans", "Segoe UI";
    content: "ON           OFF";
    background-color: #fff;
    color: #999;
    font-weight: 300;
    font-size: 10px;
    line-height: 18px;
    height: 20px;
    overflow: hidden;
    border-radius: 50rem;
    border: 1px solid #ccc;
    text-align: left;
    float: left;
    padding: 0;
    width: 52px;
    text-indent: -21px;
    margin-right: 0;
    transition: all 0.3s ease 0s;
}
input[type=checkbox].checkbox-slider.colored-blue.toggle + .text:after {
    background-color: #5db2ff;
}
input[type=checkbox].checkbox-slider.colored-blue + .text:after {
    border-color: #5db2ff;
}
input[type=checkbox].checkbox-slider.toggle + .text:after {
    border: 0;
    background-color: #444;
    width: 14px;
    height: 14px;
    top: 3px;
    left: 3px;
    box-shadow: none;
}








.text-align-center {
    text-align: center !important;
}
.no-padding {
    padding: 0 !important;
}

.databox .databox-row.row-12 {
    height: 100%;
    padding-top: 0px;
}

.databox .databox-row {
    width: 100%;
    margin: 0;
    position: relative;
}
.databox.databox-vertical .databox-top{
    color: rgb(27, 27, 27);
}
.bg-white {
    background-color:ghostwhite!important;
}

.marketview tbody tr td {
    padding-bottom: 0.1em;
    padding-left: 0.1em;
}
.runner-name, .runner-name span {
    font-size: 12px;
}
.runner-name {
    width: 55%;
    height: 34px;
    border-bottom: 0;
    border-top: 1px #e0e6e6 solid;
}
td, th {
    padding: 0;
}
.runner-named span {
    text-align: left;
    padding: 0px 0px 0px 5px;
}
.runner-name, .runner-name span {
    font-size: 12px;
}