<div class="left-side-menu">
    <div class="panel-group" id="accordion">
    <h6>Sports</h6>
             </div>		
    </div>

    <div class="main_container" id="sticky">
        <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12">
                <div class="title_new_at">Message Setting </div>	   
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="divLoading"> </div>
                <!--Loading class -->
                <div class="filter_page">
              <div class="">

                  <textarea name="setMessage" cols="40" rows="10" 
                  
                  id="setMessage" class="form-control col-md-7 col-xs-12" #mname
                   placeholder="Message" label=" "></textarea>
                   
    </div>
    <div class="popup_col_12">
        <button type="button" class="blue_button" id="save_msg" (click)="onChange(mname)"> Update Message</button>	 
        
</div>	
</div>
</div>






