<div class="left-side-menu">
    <div class="panel-group" id="accordion">
    <h6>Sports</h6>
             </div>		
    </div>





<div class="main_container" id="sticky">
            
    <div class="right_col" role="main" style="min-height: 790px;">
                <div class="row">
                <div class="col-md-12">
                    <div class="title_new_at">Website Setting </div> 	   
                </div>
                <div class="col-md-12">
                                    </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                  <div id="divLoading"> </div><!--Loading class -->
                    <form action="http://newlotusbook.com/adminsetting/do_upload" enctype="multipart/form-data" method="post" accept-charset="utf-8"><input type="hidden" name="compute" value="1f09951c3d293d403128fe920869a43b">
    <input type="hidden" name="compute" value="1f09951c3d293d403128fe920869a43b" style="display:none;">
                        <div id="MsgDomain"></div>
                        <div class="popup_form">
                            <div class="title_popup"><span id="tital_change"> </span> <button type="button" class="close" data-dismiss="modal">
                                    <div class="close_new"><i class="fa fa-times-circle"></i> </div>
                                </button></div>
                            <div class="content_popup">
                                <div class="popup_form_row">
                                    <div class="col-md-3 col-xs-6">
                                        <label> Domain</label>
                                        <input type="text" name="domain" class="form-control" placeholder="eg: anytimebet.in" required="">
                                        
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <label> Site Title Data </label>
                                        <input type="text" name="site_title" class="form-control" placeholder="eg: anytimebet" required="">
                                        
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <label>  Logo </label>
                                        <input type="file" name="logo" class="form-control" required="">
                                        
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <label>  Bg Image </label>
                                        <input type="file" name="bg_image" class="form-control" required="">
                                        
                                    </div>
                                    <div class="popup_col_12">
                                        <button type="submit" class="blue_button Addsuper1">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                   <div class="tabel_content">
                    <div class="tabel_content">
                       <table class="table table-striped jambo_table bulk_action" id="datatabless">
                        <thead>
                          <tr class="headings">
                            <th>S.No. </th>
                            <th>Domain </th>
                            <th>Site Title</th>
                            <th>Logo </th>                                      
                            <th>Background </th>                                      
                            <th width="10%">Close Website</th>
                          </tr>
                        </thead>
    
                        <tbody>
                                                    <tr>
                                <td>1.</td>	
                                <td class=" ">newlotusbook.com </td>
                                <td class=" ">newlotusbook </td>
                                <td class=" "><img src="http://newlotusbook.com/assets/uploads/newlotusbookcom.png" width="50px"> </td>
                                <td class=" "><img src="http://newlotusbook.com/assets/uploads/bgimagenewlotusbookcom.jpg" width="50px"> </td>
                                <td>
                                                                    <label class="switch">
                                        <input type="checkbox" onchange="saveWebsiteSetting(this, '1');" class="ng-pristine ng-valid ng-touched" checked="">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                                                    <tr>
                                <td>2.</td>	
                                <td class=" ">sunexch.com </td>
                                <td class=" ">sunexch </td>
                                <td class=" "><img src="http://newlotusbook.com/assets/uploads/sunexchcom.png" width="50px"> </td>
                                <td class=" "><img src="http://newlotusbook.com/assets/uploads/bgimagesunexchcom.jpg" width="50px"> </td>
                                <td>
                                                                    <label class="switch">
                                        <input type="checkbox" onchange="saveWebsiteSetting(this, '11');" class="ng-pristine ng-valid ng-touched" checked="">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                                                    <tr>
                                <td>3.</td>	
                                <td class=" ">appleexch.us </td>
                                <td class=" ">appleexch </td>
                                <td class=" "><img src="http://newlotusbook.com/assets/uploads/appleexchus.png" width="50px"> </td>
                                <td class=" "><img src="http://newlotusbook.com/assets/uploads/bgimageappleexchus.jpg" width="50px"> </td>
                                <td>
                                                                    <label class="switch">
                                        <input type="checkbox" onchange="saveWebsiteSetting(this, '12');" class="ng-pristine ng-valid ng-touched" checked="">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                                                    <tr>
                                <td>4.</td>	
                                <td class=" ">shinexch.com </td>
                                <td class=" ">shinexch </td>
                                <td class=" "><img src="http://newlotusbook.com/assets/uploads/shinexchcom.png" width="50px"> </td>
                                <td class=" "><img src="http://newlotusbook.com/assets/uploads/bgimageshinexchcom.jpg" width="50px"> </td>
                                <td>
                                                                    <label class="switch">
                                        <input type="checkbox" onchange="saveWebsiteSetting(this, '13');" class="ng-pristine ng-valid ng-touched" checked="">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                                                    <tr>
                                <td>5.</td>	
                                <td class=" ">aura999.co </td>
                                <td class=" ">aura999 </td>
                                <td class=" "><img src="http://newlotusbook.com/assets/uploads/aura999co.png" width="50px"> </td>
                                <td class=" "><img src="http://newlotusbook.com/assets/uploads/bgimageaura999co.jpg" width="50px"> </td>
                                <td>
                                                                    <label class="switch">
                                        <input type="checkbox" onchange="saveWebsiteSetting(this, '14');" class="ng-pristine ng-valid ng-touched" checked="">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                                                    <tr>
                                <td>6.</td>	
                                <td class=" ">sky365.tv </td>
                                <td class=" ">sky365 </td>
                                <td class=" "><img src="http://newlotusbook.com/assets/uploads/sky365tv.png" width="50px"> </td>
                                <td class=" "><img src="http://newlotusbook.com/assets/uploads/bgimagesky365tv.jpg" width="50px"> </td>
                                <td>
                                                                    <label class="switch">
                                        <input type="checkbox" onchange="saveWebsiteSetting(this, '15');" class="ng-pristine ng-valid ng-touched" checked="">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                                                    <tr>
                                <td>7.</td>	
                                <td class=" ">star11.xyz </td>
                                <td class=" ">star11 </td>
                                <td class=" "><img src="http://newlotusbook.com/assets/uploads/star11xyz.png" width="50px"> </td>
                                <td class=" "><img src="http://newlotusbook.com/assets/uploads/bgimagestar11xyz.jpg" width="50px"> </td>
                                <td>
                                                                    <label class="switch">
                                        <input type="checkbox" onchange="saveWebsiteSetting(this, '16');" class="ng-pristine ng-valid ng-touched" checked="">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                             
                                                 </tbody>
                      </table>
                      </div>
                    </div>
              </div>
            </div>
        </div>           
    