

<div class="left-side-menu">
	<div class="panel-group" id="accordion">
	<h6>Sports</h6>
			            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
							<a href="/dashboard?inplay">In-Play</a>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0) #collapseOne">
                                Cricket
                                 <span class="extender"></span></a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
						<ul id="cricket_child_menu">
													 </ul>
                        </div>
                    </div>
                </div>
				
				<!--- Tennis -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0) #collapseTwo">Tennis <span class="extender"></span></a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
							<ul id="tennis_child_menu">
															 </ul>
                        </div>
                    </div>
                </div>
				<!--- Soccer -->
				<div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0) #collapsethree">Soccer <span class="extender"></span></a>
                        </h4>
                    </div>
                    <div id="collapsethree" class="panel-collapse collapse">
                        <div class="panel-body">
						 <ul id="soccer_child_menu">
													 </ul>
                        </div>
                    </div>
                </div>
              </div>		
</div>




                
