
<div class="left-side-menu">
    <div class="panel-group" id="accordion">
    <h6>Sports</h6>
             </div>		
    </div>

    <div class="main_container" id="sticky">

<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12">
            <div class="title_new_at">Tennis Series Listing
            <button class="btn btn-xs btn-primary" (click)="backClicked()" style="float:right;">Back</button>
                <form style="float:right;">
                    <input type="text" name="term" style="color:black;" value="">
                    <button type="submit" class="btn btn-xs btn-success">Search</button>
                </form>                        
            </div>
        </div>
        <div class="col-md-12">
                    </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="divLoading"> </div><!--Loading class -->
            <div class="tabel_content ">
                <table class="table table-striped jambo_table bulk_action" id="">
                    <thead>
                        <tr class="headings">
                            <th>S.No. </th>
                            <th>SERIES ID </th>
                            <th>SERIES NAME </th>
                            <th>MARKET COUNT </th>
                            <th>COMPETITION REGION </th>							
                            <th>Action	 </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><th colspan="6">No record found</th></tr> 
                        	
                    </tbody>
                </table>            
            </div>
        </div>
    </div>
</div>
