


    <!--The content below is only a placeholder and can be replaced.-->

 
    
<div class="left-side-menu">
  <div class="panel-group" id="accordion">
  <h6>Sports</h6>
           </div>		
  </div>




<div class="main_container" id="sticky">
          
  <div class="right_col" role="main" style="min-height: 790px;">
      <div class="col-md-12"><div class="title_new_at">Admin Match Listing</div></div>
      <div class="">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                  <div id="divLoading"> </div><!--Loading class -->
                  <div class="x_content">
                      <div class="clearfix data-background">
                          <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                              <div class="dataTables_length" id="datatable_length">
                                  <label>Show <select name="datatable_length" aria-controls="datatable" class="">
                                      <option value="10">10</option><option value="25">25</option><option value="50">50</option>
                                      <option value="100">100</option></select> entries</label>
                                  </div>
                                  

                                  <div id="datatable_filter" class="dataTables_filter"><label>Search:<input class="form-control" type="text"  [(ngModel)]="searchText" placeholder="" aria-controls="datatable">
                                  </label>
                              </div>

                               </div>
                               <div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Series Name</th>
          <th>Match Name</th>
          <th>Market Name</th>
          <th>Action</th>
          
          
        </tr>
      </thead>
      <tbody>
        
        
       
          <tr *ngFor="let e of data | paginate: { itemsPerPage: count, currentPage: p }">
            <tr *ngFor="let e of data | filter:searchText">
          <td>{{e.id}}</td>
          <td>{{e.name}}</td>
          <td>{{e.mname}}</td>
          <td>{{e.marketname}}</td>
         
          <td style="text-align:center">
            <input type="checkbox" onchange="setResult('1.175994567');" class="ng-pristine ng-valid ng-touched">
        </td>
      </tr>
    
       
       
        
        
      </tbody>
    </table>
  </div>

  <!--Including the pagination control.-->
  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

