<div class="left-side-menu">
    <div class="panel-group" id="accordion">
    <h6>Sports</h6>
             </div>		
    </div>


<div class="main_container" id="sticky">




<div class="col-md-12">
    <div class="title_new_at"> Client PL </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
		<div class="clearfix data-background">
		<form method="get" class="form-horizontal form-label-left input_mask" id="filtrdata"> 		  
		    <div class="popup_col_2">
			
                <input type="text"
                class="form-control"
                [minDate]="minDate"
                [maxDate]="maxDate"
                #dp="bsDatepicker"
                bsDatepicker [(bsValue)]="myDateValue">
             

		    </div>
		    <div class="popup_col_2">
                <input type="text"
                class="form-control"
                [minDate]="minDate"
                [maxDate]="maxDate"
                #dp="bsDatepicker"
                bsDatepicker [(bsValue)]="myDateValue">

		    </div>
		    <div class="block_2 buttonacount">
				<button type="button" id="frmsbmt" class="blue_button"><i class="fa fa-filter"></i> Filter</button>
				<a href="/index.php" class="red_button"><i class="fa fa-eraser"></i> Clear</a>
			</div>
		   </form>		   
		 </div>  
		<div class="">
		<div id="divLoading"> </div><!--Loading class -->
		<div class="table-scroll">
		    <table class="table table-striped jambo_table bulk_action full-table-clint dataTable no-footer" id="datatable">
                <thead>	
				<tr class="headings">				
				<th class="">Username </th>
				<th class="">Admin </th><th class="">Hyper </th>				<th class="">Super Master </th>
				<th class="">Master </th>
				<th class="">Total </th>
				<th class="">Amount </th>
				<th class="">M-comm </th>
				<th class="">S-comm </th>
				<th class="">Net-Amount </th>	
				</tr>				
                </thead>
                <tbody>
			     
			    			    <tr><th colspan="10">No record found</th></tr>	
			</tbody>
			
		    </table>
		 
		</div>
	    </div>
	</div>
 
    


