<div class="left-side-menu">
    <div class="panel-group" id="accordion">
    <h6>Sports</h6>
             </div>		
    </div>





<div class="main_container" id="sticky">
            
    <div class="right_col" role="main" style="min-height: 1611px;">
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <div class="title_new_at">Match Result </div>
                </div>
                <div class="divfilter col-md-12 col-sm-12 col-xs-12">
                                   
                    <div class="tabel_content">
                    <div class="table-responsive sports-tabel">
                   <table class="table table-bordered table-hover" id="datatabless">
                      <thead>
                        <tr class="headings">
                            <th>S.No. </th>
                            <th>Game Id </th>
                            <th>Market Type </th>
                            <th>Match Name </th>
                            <th>P&amp;L</th>
                         </tr>
                      </thead>
                      <tbody>
                                              <tr id="user_row_1">
                            <td>1.</td>
                            <td class=" ">56767 </td>
                            <td class=" ">plain </td>
                            <td class=" ">Live Teenpatti </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="1" value="50000"></td>
                         </tr>
                                              <tr id="user_row_2">
                            <td>2.</td>
                            <td class=" ">98791 </td>
                            <td class=" ">main </td>
                            <td class=" ">Amar Akbar Anthony </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="2" value="50000"></td>
                         </tr>
                                              <tr id="user_row_3">
                            <td>3.</td>
                            <td class=" ">98789 </td>
                            <td class=" ">main </td>
                            <td class=" ">7 up &amp; Down </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="3" value="50000"></td>
                         </tr>
                                              <tr id="user_row_4">
                            <td>4.</td>
                            <td class=" ">98790 </td>
                            <td class=" ">main </td>
                            <td class=" ">Dragon Tiger </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="4" value="50000"></td>
                         </tr>
                                              <tr id="user_row_5">
                            <td>5.</td>
                            <td class=" ">56768 </td>
                            <td class=" ">plain </td>
                            <td class=" ">Teenpatti T20 </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="5" value="50000"></td>
                         </tr>
                                              <tr id="user_row_6">
                            <td>6.</td>
                            <td class=" ">98789 </td>
                            <td class=" ">color </td>
                            <td class=" ">7 up &amp; Down </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="6" value="50000"></td>
                         </tr>
                                              <tr id="user_row_7">
                            <td>7.</td>
                            <td class=" ">98789 </td>
                            <td class=" ">SUIT </td>
                            <td class=" ">7 up &amp; Down </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="7" value="50000"></td>
                         </tr>
                                              <tr id="user_row_8">
                            <td>8.</td>
                            <td class=" ">67564 </td>
                            <td class=" ">plain </td>
                            <td class=" ">Poker </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="8" value="50000"></td>
                         </tr>
                                              <tr id="user_row_9">
                            <td>9.</td>
                            <td class=" ">56969 </td>
                            <td class=" ">plain </td>
                            <td class=" ">Hi Low (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="9" value="50000"></td>
                         </tr>
                                              <tr id="user_row_10">
                            <td>10.</td>
                            <td class=" ">56969 </td>
                            <td class=" ">range </td>
                            <td class=" ">Hi Low (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="10" value="50000"></td>
                         </tr>
                                              <tr id="user_row_11">
                            <td>11.</td>
                            <td class=" ">56768 </td>
                            <td class=" ">plus </td>
                            <td class=" ">Teenpatti T20 </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="11" value="50000"></td>
                         </tr>
                                              <tr id="user_row_12">
                            <td>12.</td>
                            <td class=" ">56767 </td>
                            <td class=" ">plus </td>
                            <td class=" ">Live Teenpatti </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="12" value="50000"></td>
                         </tr>
                                              <tr id="user_row_13">
                            <td>13.</td>
                            <td class=" ">67566 </td>
                            <td class=" ">hands </td>
                            <td class=" ">Six player poker (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="13" value="50000"></td>
                         </tr>
                                              <tr id="user_row_14">
                            <td>14.</td>
                            <td class=" ">56967 </td>
                            <td class=" ">plain </td>
                            <td class=" ">32 cards casino </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="14" value="50000"></td>
                         </tr>
                                              <tr id="user_row_15">
                            <td>15.</td>
                            <td class=" ">67566 </td>
                            <td class=" ">patterns </td>
                            <td class=" ">Six player poker (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="15" value="50000"></td>
                         </tr>
                                              <tr id="user_row_16">
                            <td>16.</td>
                            <td class=" ">67563 </td>
                            <td class=" ">plain </td>
                            <td class=" ">Poker  (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="16" value="50000"></td>
                         </tr>
                                              <tr id="user_row_17">
                            <td>17.</td>
                            <td class=" ">56769 </td>
                            <td class=" ">plain </td>
                            <td class=" ">Teenpatti T20 (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="17" value="50000"></td>
                         </tr>
                                              <tr id="user_row_18">
                            <td>18.</td>
                            <td class=" ">56769 </td>
                            <td class=" ">plus </td>
                            <td class=" ">Teenpatti T20 (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="18" value="50000"></td>
                         </tr>
                                              <tr id="user_row_19">
                            <td>19.</td>
                            <td class=" ">98789 </td>
                            <td class=" ">oddeven </td>
                            <td class=" ">7 up &amp; Down </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="19" value="50000"></td>
                         </tr>
                                              <tr id="user_row_20">
                            <td>20.</td>
                            <td class=" ">98791 </td>
                            <td class=" ">color </td>
                            <td class=" ">Amar Akbar Anthony </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="20" value="50000"></td>
                         </tr>
                                              <tr id="user_row_21">
                            <td>21.</td>
                            <td class=" ">92036 </td>
                            <td class=" ">SINGLE </td>
                            <td class=" ">Matka (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="21" value="50000"></td>
                         </tr>
                                              <tr id="user_row_22">
                            <td>22.</td>
                            <td class=" ">87564 </td>
                            <td class=" ">main </td>
                            <td class=" ">Andar Bahar </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="22" value="50000"></td>
                         </tr>
                                              <tr id="user_row_23">
                            <td>23.</td>
                            <td class=" ">56969 </td>
                            <td class=" ">color </td>
                            <td class=" ">Hi Low (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="23" value="50000"></td>
                         </tr>
                                              <tr id="user_row_24">
                            <td>24.</td>
                            <td class=" ">98793 </td>
                            <td class=" ">main </td>
                            <td class=" ">7 up &amp; Down (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="24" value="50000"></td>
                         </tr>
                                              <tr id="user_row_25">
                            <td>25.</td>
                            <td class=" ">92036 </td>
                            <td class=" ">SP </td>
                            <td class=" ">Matka (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="25" value="50000"></td>
                         </tr>
                                              <tr id="user_row_26">
                            <td>26.</td>
                            <td class=" ">92036 </td>
                            <td class=" ">multi </td>
                            <td class=" ">Matka (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="26" value="50000"></td>
                         </tr>
                                              <tr id="user_row_27">
                            <td>27.</td>
                            <td class=" ">56966 </td>
                            <td class=" ">plain </td>
                            <td class=" ">32 cards casino (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="27" value="50000"></td>
                         </tr>
                                              <tr id="user_row_28">
                            <td>28.</td>
                            <td class=" ">98790 </td>
                            <td class=" ">colort </td>
                            <td class=" ">Dragon Tiger </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="28" value="50000"></td>
                         </tr>
                                              <tr id="user_row_29">
                            <td>29.</td>
                            <td class=" ">87565 </td>
                            <td class=" ">main </td>
                            <td class=" ">Andar Bahar (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="29" value="50000"></td>
                         </tr>
                                              <tr id="user_row_30">
                            <td>30.</td>
                            <td class=" ">56766 </td>
                            <td class=" ">plain </td>
                            <td class=" ">Teenpatti One-Day (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="30" value="50000"></td>
                         </tr>
                                              <tr id="user_row_31">
                            <td>31.</td>
                            <td class=" ">98793 </td>
                            <td class=" ">color </td>
                            <td class=" ">7 up &amp; Down (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="31" value="50000"></td>
                         </tr>
                                              <tr id="user_row_32">
                            <td>32.</td>
                            <td class=" ">98790 </td>
                            <td class=" ">colord </td>
                            <td class=" ">Dragon Tiger </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="32" value="50000"></td>
                         </tr>
                                              <tr id="user_row_33">
                            <td>33.</td>
                            <td class=" ">92036 </td>
                            <td class=" ">SPALL </td>
                            <td class=" ">Matka (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="33" value="50000"></td>
                         </tr>
                                              <tr id="user_row_34">
                            <td>34.</td>
                            <td class=" ">92036 </td>
                            <td class=" ">oddeven </td>
                            <td class=" ">Matka (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="34" value="50000"></td>
                         </tr>
                                              <tr id="user_row_35">
                            <td>35.</td>
                            <td class=" ">98791 </td>
                            <td class=" ">single </td>
                            <td class=" ">Amar Akbar Anthony </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="35" value="50000"></td>
                         </tr>
                                              <tr id="user_row_36">
                            <td>36.</td>
                            <td class=" ">92036 </td>
                            <td class=" ">DP </td>
                            <td class=" ">Matka (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="36" value="50000"></td>
                         </tr>
                                              <tr id="user_row_37">
                            <td>37.</td>
                            <td class=" ">98793 </td>
                            <td class=" ">SUIT </td>
                            <td class=" ">7 up &amp; Down (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="37" value="50000"></td>
                         </tr>
                                              <tr id="user_row_38">
                            <td>38.</td>
                            <td class=" ">98793 </td>
                            <td class=" ">oddeven </td>
                            <td class=" ">7 up &amp; Down (Virtual) </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="38" value="50000"></td>
                         </tr>
                                              <tr id="user_row_39">
                            <td>39.</td>
                            <td class=" ">98790 </td>
                            <td class=" ">oddevend </td>
                            <td class=" ">Dragon Tiger </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="39" value="50000"></td>
                         </tr>
                                              <tr id="user_row_40">
                            <td>40.</td>
                            <td class=" ">98791 </td>
                            <td class=" ">overunder7 </td>
                            <td class=" ">Amar Akbar Anthony </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="40" value="50000"></td>
                         </tr>
                                              <tr id="user_row_41">
                            <td>41.</td>
                            <td class=" ">98791 </td>
                            <td class=" ">oddeven </td>
                            <td class=" ">Amar Akbar Anthony </td>
                            <td class=" "><input type="number" name="live_game_pnl_update" data-id="41" value="50000"></td>
                         </tr>
                                           </tbody>
                   </table>
                </div>
                    
                    
                    </div>
          
               </div>
            </div>
       </div>
    </div>            