<div class="left-side-menu">
    <div class="panel-group" id="accordion">
    <h6>Sports</h6>
             </div>		
    </div>
<div class="main_container" id="sticky">
    <script>
$(function () {
$('.close ,.closebtn').click(function () {
   $('#accountView').hide();
})
})
</script>
<div class="right_col" role="main" style="min-height: 790px;">
<div class="row">
<div class="col-md-12">
 <div class="title_new_at"> My Market</div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
 <div id="divLoading"> </div>
 <!--Loading class -->
 
 <div class="table-scroll" id="filterdata">
 <table class="table table-striped jambo_table bulk_action">
    <thead>
       <tr class="headings">
          <th>S.No. </th>
          <th>Match Name </th>
          <th>Date</th>
          <th>Sport Name</th>
          <th>Match Status </th>
          <th>Team A </th>
          <th>Team B </th>
          <th>Draw </th>
                            <th>Action </th>

                            <tr><th colspan="6">No record found</th></tr>	
                                                     
    
    </thead>
    <tbody>
        
       
    </tbody>
 </table>
</div>
</div>
</div>
</div>           