<div class="left-side-menu">
    <div class="panel-group" id="accordion">
    <h6>Sports</h6>
             </div>		
    </div>


<div class="main_container" id="sticky">
    <style>
.mark-back:hover{background: #4cebdc !important;}
.mark-lay:hover{background: #c6f6f2 !important;}
.mark-back{background: #7CC4F7 !important;}
.mark-lay{background: #FCA4B7 !important;}
</style>
<div class="right_col" role="main" style="min-height: 790px;">
<div class="col-md-12">
<div class="title_new_at">  Market PL </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
<div class="clearfix data-background">
<form method="get" class="form-horizontal form-label-left input_mask" id="filtrdata"> 		  
    <div class="popup_col_2">
    
        <input type="text"
        class="form-control"
        [minDate]="minDate"
        [maxDate]="maxDate"
        #dp="bsDatepicker"
        bsDatepicker [(bsValue)]="myDateValue">
    </div>
    <div class="popup_col_2">
    
        <input type="text"
        class="form-control"
        [minDate]="minDate"
        [maxDate]="maxDate"
        #dp="bsDatepicker"
        bsDatepicker [(bsValue)]="myDateValue">
    </div>
    <div class="block_2 buttonacount">
        <button type="button" id="frmsbmt" class="blue_button"><i class="fa fa-filter"></i> Filter</button>
        <a href="/index.php" class="red_button"><i class="fa fa-eraser"></i> Clear</a>
    </div>
   </form>		</div>   
<div class="">
<div id="divLoading"> </div><!--Loading class -->
<div class="table-scroll">
    <table class="table table-striped jambo_table bulk_action dataTable no-footer" id="datatable">
        <thead>				
        <tr><th class="">Date </th>
        <th class="">Market </th>
        <th class="">Admin </th><th class="">Hyper </th>				<th class="">Hyper </th>
        <th class="">Super Master </th>
        <th class="">Total </th>
        <th class="">Amount </th>
        <th class="">M-comm </th>
        <th class="">S-comm </th>
        <th class="">Net-Amount </th>			
        </tr>
        </thead>
        <tbody>
         
                        <tr><th colspan="10">No record found</th></tr>	
    </tbody>
    
    </table>
 
</div>
</div>
</div>
<script>
function perPage(val) {
$("#perpage").val(val);
$("#bethistoryform #form_submit").click();
}
function exportData() {
jQuery.ajax({
    url: 'http://newlotusbook.com/report/exportBetHistory',
    data: $('#bethistoryform').serialize(),
    success: function (data) {
    }
});
}
</script>
<link href="http://newlotusbook.com/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="http://newlotusbook.com/assets/js/moment.min2.js"></script> 
<script src="http://newlotusbook.com/assets/js/bootstrap-datetimepicker.min.js"></script> 


<script>
/*$('#from-date').daterangepicker({
singleDatePicker: true,
showDropdowns: true,
format: 'YYYY-MM-DD',
});
$('#to-date').daterangepicker({
singleDatePicker: true,
showDropdowns: true,
format: 'YYYY-MM-DD',
});*/
$(".datetimepicker").datetimepicker({
format: 'YYYY-MM-DD HH:mm:ss',
widgetPositioning: {
    horizontal: "auto",
    vertical: "auto"
}
});
$(document).on("click", "#frmsbmt", function(){
$('#filtrdata').submit();
});
</script>           

<!--commanpopup-->
<div id="commonpopup" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
 <div class="popup_form">
    <div class="title_popup">
       <span>Title Popup</span>
       <button type="button" class="close" data-dismiss="modal">
          <div class="close_new"><i class="fa fa-times-circle"></i></div>
       </button>
    </div>
    <div class="content_popup">
       <div class="popup_form_row">
          <div class="modal-body"></div>
       </div>
    </div>
 </div>
</div>
</div>
</div>
<!--commanpopup-->         </div>
</div>
